<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <style>
        html,body {
        height: 100%;
        }
    </style>
</head>
<body>
<div class="container h-100">
    <div class="row justify-content-md-center align-items-center h-100" style="border:solid">
        <div class="col-4" style="border:solid">
            <form method="post">
                <div class="form-group">
                    <label for="inputLogin">Login</label>
                    <input name="username" type="text" class="form-control" id="inputLogin" placeholder="Enter login" />
                </div>
                <div class="form-group">
                    <label for="password1">Password</label>
                    <input name="password" type="password" class="form-control" id="password1" placeholder="Password" />
                </div>
                <input type="submit" class="btn btn-primary" value="Login" />
            </form>
        </div>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.js"></script>
</body>
</html>