<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>TITLE EPTA</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <style>

    </style>
</head>
<body class="bg-secondary">
<div class="container-fluid">
    <div class="row mb-3">
        <div class="col">
            <div class="container-fluid" data-th-replace="fragments/f-navbar :: navbar">            </div>
        </div>
    </div>

    <div class="row" data-layout-fragment="content">

    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.js"></script>
</body>
</html>